
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* To center content horizontally */
 
}

.css-18sg6k4-MuiPaper-root-MuiDrawer-paper{
  background-color: #3b7d3a !important;
}

.para{
  text-align: center;
  background-color: transparent;
  flex-wrap: nowrap;
  

}

.App {
  display: flex;
  justify-content: center;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  margin-left: 20px;
  margin-right: 20px;
  background-color:transparent;
}

img,
video {
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
}

.controls {
  display: flex;
  gap: 16px;
}

.btn-container {
  display: flex;
  gap: 16px;
  margin-top: 20px;
}

.btn-container button {
  z-index: 9999;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  border: none;
  padding: 16px 56px;
  border-radius: 8px;
  background-color: #031b0a;
  color: white;
  font-size: 16px;
  box-shadow: 0 4px 14px 0 rgba(226, 247, 37, 0.39);
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.btn-container button:hover {
  /* background: rgba(54, 250, 83, 0.9); */
  border:2px solid rgba(54, 250, 83, 0.9);
  /* box-shadow: 0 6px 20px rgba(41, 248, 55, 0.495); */
  color: rgba(54, 250, 83, 0.9)  ;
}

.css-158izyp{
  height: 500px;
  width: 500px;
  align-self: center;
}
.css-a4pnxt {
  margin-top: 110px;
    margin-left: 70px;
    margin-right: 80px;
    margin-bottom: 30px;
    align-content: center;
}

.css-0{
  margin:0px;
}


.scanner-container{
  padding:0px !important;
}

.home-div{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.history-div{
  display: flex;
  flex-direction: column;
  align-items: start;
  /* justify-content: center; */
  width:96vw;
  height: max-content;
  background-color: transparent;
  padding:2% ;
  margin-top:50px;
  color: #ffffff;
}

.btn-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center ;
}

.app-container{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:space-between ;
  border-radius: 20px;
  background-color: #031b0a7d;
  padding: 20px;
  padding-top: 35px;
  border:2px solid rgba(54, 250, 83, 0.9);
}

.capture video ,.capture img{
  border-radius: 12px !important;
}

.capture{
  width:500px;
}

.qr{
  width:100%;
  height:100%;
  display: block;
}

.qr-img img{
  width:100%;
  height:100%;
  position: relative;
  background: transparent;

}

.qr-img{
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload{
  padding: 20px;
  padding-top: 35px;
}