.app-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* To center content horizontally */
 
}

.css-18sg6k4-MuiPaper-root-MuiDrawer-paper{
  background-color: #3b7d3a !important;
}

.para{
  text-align: center;
  background-color: transparent;
  flex-wrap: nowrap;
  

}



